.btn {
	border: 1px solid $color-pink;
	font-family: $fonts-robotoR;
	border-radius: 5px;
	padding: 10px 30px;
	color: $color-pink;
	font-size: 18px;
	background: transparent;
	@include transition(all .3s);
	.fa, i.fa, img.fa {
		color: inherit;
		font-size: inherit;
		line-height: inherit;
		margin-right: 5px;
	}
	&:hover,
	&:focus {
		background: $color-pink;
		color: $white;
		outline: none;
		.fa, i.fa, img.fa {
			color: inherit;
			font-size: inherit;
			line-height: inherit;
			margin-right: 5px;
		}
	}
	
}
.btn-login {
	max-width: 190px;
	width: 100%;
	font-family: $fonts-robotoR;
	color: $color-pink;
	font-size: 18px;
	padding: 9px 70px;
}
.btn-white {
	border: 1px solid $white;
	background: transparent;
	color: $white;
	padding: 10px 40px;
	&:hover {
		background: $white;
		color: $black;
	}
}
.btn-find {
	width: 100%;
	max-width: 270px;
	display: block;
	margin-top: 35px;
	background: transparent;
	padding: 17px 30px;
}
.btn-slide {
	max-width: 270px;
	display: block;
	margin-top: 35px;
	margin-bottom: 15px;
	padding: 17px 30px;
}
.btn-filter,
.btn-reset {
	display: block;
	width: 100%;
	border-radius: 0;
	color: $color-purpl;
	@include transition(all .3s);
	&:focus {
		outline: none;
	}
}

.btn-filter {
	text-transform: uppercase;
	border: 1px solid $color-purpl;
	background: $color-purpl;
	color: $white;
	&:hover {
		color: $color-purpl;
		background: $white;
	}
}
.btn-reset {
	border: none;
	&:hover {
		background: $color-purpl;
		color: $white;
	}
}
.btn-form-search {
	background: $color-purpl;
	border: 1px solid $color-purpl;
	color: $white;
	font-size: 16px;
	border-radius: 0;
	padding: 15px 20px;
	display: inline-block;
	&:hover,
	&:focus {
		background: $white;
		color: $color-purpl;
		outline: none;
	}
}
.btn-form-send {
	padding: 10px 40px;
}

.btn-dropdown {
	float: right;
	margin-bottom: 10px;
	border-radius: 5px !important;
	padding: 5px 15px;
	i.fa, .fa {
		margin-right: 0;
		margin-left: 5px;
	}
	&:hover,
	&:focus {
		outline: none;
		padding: 5px 15px;
		i.fa, .fa {
			margin-right: 0;
			margin-left: 5px;
		}
	}
}
.filter-btn.active {
	background: $color-purpl;
	a {
		background: inherit;
		&:after {
			content: "\f00c";
			font-family: FontAwesome, sans-serif;
			color: $color-purpl;
			font-size: 12px;
			background: $white;
			text-align: center;
		}
	}
}
.btn-more {
	display: inline-block;
	font-weight: bold;
	font-family: $fonts-robotoB;
	padding: 0 5px;
	//text-decoration: none !important;
	@include transition(all .3s);
}
.btn-dropdown.sidebar-title {
	font-size: 20px;
	line-height: 30px;
	font-family: $fonts-robotoB;
	margin: 0;
	padding: 10px 20px;
	display: block;
	color: $color-purpl;
	border: none;
	width: 100%;
	text-align: left;
	background: transparent;
	border-radius: 0;
	box-shadow: none;
	float: none;
	i, i.fa, .fa {
		display: none;
	}
	&:hover,
	&:focus {
		background: transparent;
		border-radius: 0;
		outline: none;
		box-shadow: none;
	}
}
.result-dropdown {
	left: inherit;
	right: 0;
	border: 1px solid $color-pink;
	padding: 0;
	margin: 0;
	li {
		a {
			cursor: pointer;
			padding: 10px 15px;
			color: $color-pink;
			background: transparent;
			@include transition(all .3s);
			&:hover {
				background: $color-pink;
				color: $white;
			}
		}
	}
}

/* Pagination */
.result-pagination {
	margin: 40px 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	li {
		list-style: none;
		margin-right: 20px;
		margin-bottom: 15px;
		&:last-child {
			margin-right: 0;
		}
		a {
			background: $white;
			color: $color-purpl;
			border: 1px solid $color-purpl;
			width: 40px;
			height: 40px;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			text-decoration: none;
			@include transition(all .3s);
			font-size: 18px;
			font-family: $fonts-robotoR;
			&.active,
			&:hover {
				background: $color-purpl;
				color: $white;
				border: 1px solid $color-purpl;
			}
		}
	}
}


.btn-return {
	border: none;
	color: rgba(42, 30, 92, 0.5);
	padding: 0;
	&:before {
		content: "\f104";
		font-family: FontAwesome, sans-serif;
		color: inherit;
		position: relative;
		margin-right: 5px;
		left: 0;
		@include transition(all .3s);
	}
	&:hover,
	&:focus {
		color: $color-pink;
		background: transparent;
		box-shadow: none;
		&:before {
			left: -5px;
		}
	}
}
.btn-share,
.btn-follow {
	font-family: FontAwesome, sans-serif;
	color: $white;
	background: $color-purpl;
	border: 2px solid $color-purpl;
	font-size: 25px;
	line-height: 25px;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0;
	position: absolute;
	top: -20px;
	right: 80px;
	&:before {
		content: '\f1e0';
		color: inherit;
		font-size: inherit;
		line-height: inherit;
	}
	&:hover {
		background: $white;
		color: $color-purpl;
	}
}
.btn-follow {
	right: 0;
	&:before {
		content: "\f097";
	}
	&:hover {
		&:before {
			content: "\f02e";
		}
	}
}
