footer, .footer {
	border-top: 15px solid $color-purpl;
	padding-top: 20px;
	color: $color-purpl;
	font-family: $fonts-robotoR;
}
h4.footer-title ,
.footer-title {
	border-bottom: 2px solid #948ead;
	line-height: 0.001em;
	text-align: center;
	font-size: 20px;
	color: $color-purpl;
	margin-top: 20px;
	margin-bottom: 35px;
	font-weight: bold;
	span {
		background: $color-gray;
		padding: 0 20px;
	}
}
.footer-menu {
	padding: 0;
	margin: 0;
	li {
		list-style: none;
		font-size: 18px;
		text-align: center;
		color: $color-purpl;
		margin-bottom: 15px;
		a {
			font-size: 18px;
			text-align: center;
			color: $color-purpl;
			line-height: 23px;
			cursor: pointer;
		}
	}
}
.social-links {
	margin: 0;
	padding: 0;
	display: block;
	text-align: center;
	li {
		display: inline-block;
		color: $color-purpl;
		list-style: none;
		margin-bottom: 15px;
		margin-right: 15px;
		&:last-child {
			margin-right: 0;
		}
		a {
			color: inherit;
			font-size: 16px;
			text-decoration: none;
			i.fa {
				color: $color-purpl;
				font-size: 16px;
				width: 40px;
				height: 40px;
				border: 1px solid $color-purpl;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				background: transparent;
				@include transition(color .3s);
			}
			&:hover {
				i.fa {
					background: $color-purpl;
					color: $white;
				}
			}
		}
		a.fa {
			text-decoration: none;
			color: $color-purpl;
			width: 40px;
			height: 40px;
			border: 1px solid $color-purpl;
			font-size: 16px;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			background: transparent;
			@include transition(color .3s);
			&:hover {
				background: $color-purpl;
				color: $white;
			}
		}
	}
}
.copyright {
	font-size: 16px;
	text-align: center;
	margin-top: 45px;
	color: rgba(42, 30, 92, 0.5);
}