.product-container {
	.form-search {
		margin-bottom: 15px;
	}
}
.product-content {
	background: $white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-top: 15px;
}
.product-item {
	padding: 20px 5px;
	&:after {
		content: '';
		border-bottom: 1px solid $color-purpl;
		margin-left: 15px;
		margin-right: 15px;
		display: block;
		position: relative;
	}
	.header-title {
		font-family: $fonts-robotoM;
		font-size: 30px;
		margin-bottom: 10px;
		margin-top: 0;
		color: $color-purpl;
		a {
			color: inherit;
			font-size: inherit;
			line-height: inherit;
		}
	}
	.item-header {
		position: relative;
	}
}
.product-control {
	
}

.single-thumb {
	margin: 0 auto;
	display: block;
	width: 100%;
}
.single-item-content {
	margin-top: 10px;
	p {
		
	}
}

/* Trust Box */
.trust-box {
	border: 2px solid $color-green;
	padding: 20px 20px 10px 20px;
	margin: 35px 0;
	position: relative;
	font-size: 18px;
	p, span, b, i, strong, em {
		color: $color-purpl;
		font-size: inherit;
	}
}
.trust-title {
	margin: 0;
	background: $white;
	color: $color-green;
	padding: 0;
	display: inline-block;
	padding-right: 10px;
	position: absolute;
	top: -22px;
	left: -2px;
	width: auto;
	&:before {
		content: "\f132";
		font-family: FontAwesome, sans-serif;
		font-size: inherit;
		color: inherit;
		margin-right: 15px;
		line-height: inherit;
	}
}
.trust-list {
	color: $color-purpl;
	font-family: $fonts-robotoB;
	padding-left: 15px;
	margin: 0;
	li {
		list-style: none;
		margin-bottom: 10px;
		.fa, i.fa, span.fa, img.fa {
			width: 30px;
			height: 30px;
			padding: 5px;
			font-size: 16px;
			line-height: 16px;
			color: $color-purpl;
			border: 1px solid $color-purpl;
			position: relative;
			left: -15px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
		}
	}
}

/* Product Slider */
#carousel-product {
	max-width: 900px;
	display: block;
	margin: 0 auto;
}
.product-slider {
	margin-bottom: 40px;
	background: $white;
	padding: 15px 0;
	.item > div {
		display: flex;
		align-items: flex-end;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.carousel-indicators {
		bottom: -40px;
	}
	.slider-thumb {
		width: 100%;
	}
}

/* Product Description */
.product-description {
	margin-top: 30px;
}
.product-name {
	font-size: 42px;
	line-height: 45px;
	margin-bottom: 15px;
	flex: 1 1 auto;
}
.trust-box {
	.morecontent span {
		display: none;
	}
	.morelink {
		display: block;
	}
}
// Product-tabs
.product-tabs {
	margin-bottom: 35px;
	.social-links {
		display: inline-flex;
		li:not(:last-child) {
			margin-right: 20px;
		}
	}
	h6 {
		a {
			font-family: $fonts-robotoR;
			font-size: 18px;
		}
	}
	p, span, i, em, b, strong {
		color:$color-purpl;
	}
}
.tab-title {
	margin-bottom: 5px;
	margin-top: 10px;
}
.legal-links {
	padding: 0;
	li {
		list-style: none;
		a {
			color: $color-green;
		}
	}
}

/* Product links */
.product-links {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 15px;
	margin-top: 15px;
	.btn {
		padding: 15px 40px;
	}
}

/* Message */
.message-item {
	background: $white;
	padding: 25px 10px;
	margin-bottom: 25px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.message-title-wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.message-header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.massage-thumb {
	max-width: 70px;
	max-height: 70px;
	width: 100%;
}
.your-massage {
	color: $color-green;
	font-family: $fonts-robotoR;
	font-size: 24px;
	margin-bottom: 0;
	
	&:before {
		content: "\f29c";
		color: inherit;
		font-size: inherit;
		line-height: inherit;
		font-family: FontAwesome, sans-serif;
		position: relative;
		margin-right: 10px;
	}
}
.message-title {
	flex: 1 1 auto;
	margin-left: 20px;
	h5, h6 {
		font-family: $fonts-robotoM;
		margin-bottom: 0;
		margin-top: 0;
	}
}
.message-body {
	display: block;
	color: $color-purpl;
	margin-top: 10px;
	font-size: 18px;
	p, span, em, i, b, strong {
		color: $color-purpl;
		font-size: inherit;
	}
}